# Using TAU sqlite3 profile format with Pandas.

In this notebook, we show how to work with sqlite3 TAU profiles. Python 3.8
or later is recommended.

In [5]:
import pandas as pd
import sqlite3
from tabulate import tabulate  # for scrollable wide dataframe output in PyCharm

pd.set_option('display.max_columns', 12)
pd.set_option('display.width', None)

## Straight from the database
First, we import the TAU sqlite3 database into pandas dataframes. Here we have an
experiment that involves hybrid CPU/GPU computation. We used TAU Commander configured
with cupti to collect GPU details. We get the list of
tables, then import all data. We could be more selective with our queries, but for now we are exploring. At the end, we have the `df_dict` with the following keys:
```trial
thread
metric
timer
timer_value
counter
counter_value
metadata
```

In [10]:
# Create a SQL connection to our SQLite database
con = sqlite3.connect("data/tauprofile.db")
c = con.cursor()

tables = pd.read_sql_query("SELECT * FROM sqlite_master WHERE type ='table' AND name NOT LIKE 'sqlite_%';", con)
df_dict = {}
for table in tables["name"]: 
    print(f"Dataframe corresponding to SQL table {table}:")
    df_dict[table] = pd.read_sql_query("SELECT * from %s" % table, con)
    print(tabulate(df_dict[table],headers='firstrow'))
    print("")
con.close()

# TAU2 parsing and visualization of sqlite3 files

The rest of this notebook is based on this [example](https://github
.com/UO-OACISS/tau2/tree/1030b79cef13d13a63feb8e04832945a6df27647/examples/plugin
/sqlite3).

In [ ]:
# Experiment = (Target, Application, Measurement)